--root {
    --primary: black;
    --secondary: orange;
}

* {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anton', sans-serif;
    color: orange;
}

body {
    background-color: black !important;
}

a:hover{
    color: orange !important;
}

p {
    color: white;
}

/* #title {
    margin-top: 70px;
} */

.everything {
    margin-top: 70px;
}

#cryptocurrenciesPageH2 {
    font-size: 3em;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translate(0px, 50px);
    }
    100% {
        opacity: 1;
        
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    animation: fadeUp 1s ease-in;
    font-size: 3.5rem;
}

#homePageH2Title {
    animation: fadeUp 2s ease-in;
}

#homePageH6Title {
    animation: fadeIn 6s ease-in;
}

#titleCryptocurrenciesPage {
    animation: fadeIn 1s ease-in;
}

#tableCryptocurrenciesContainer {
    animation: fadeUp 1s ease-in;
}

.cryptoTableLogo {
    width: 32px;
    height: 32px;
}



/* Breakpoints */
@media (min-width: 500px){
    h1 {
        font-size: 6rem;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 9.5rem;
    }
}
@media (min-width: 1024px){
    h1 {
        font-size: 14rem;
    }
}

